
<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>
 
<p>
  <strong>Blurb:</strong>
  <%= @story.blurb %>
</p>

<p>
  <strong>Date:</strong>
  <%= @story.date %>
</p>
 
<p>
  <strong>Link:</strong>
  <%= @story.link %>
</p>